.container{
    margin: 3rem auto;
    max-width:fit-content;
    padding: 12px 20px;
    box-shadow:2px 2px 9px 0px #afafaf6e;
    border-radius: 10px;
    display: flex;
    gap:1rem;
}
.container >div{
    display: flex;
    flex-direction : column;
    gap:.5rem;
}
.container input{
    padding: 12px 20px;
    min-width: 300px;
    border:1px solid #eee;
    border-radius:8px
}
.container button {
    background-color: chartreuse;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border:none;
}