.container{
    max-width: 900px;
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    gap: 2rem;
}
.container .detail,.container .desc{
    box-shadow: 2px 2px 9px 0px #afafaf6e;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    gap:2rem  1rem;
}
.detail div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .7rem ;
}
.detail p{
    flex:1;
}
.container .desc{
    gap: 1rem;
}
.container button{
    background-color: chartreuse;
    padding: 12px 20px;
    border-radius: 4px;
    border:none;
    cursor:pointer
}